@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap");

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  top: 0;
  background-color: white;
}
footer {
  margin-top: 2rem;
  padding: 2rem;
  color: white;
  background-color: #151515;
}

body {
  background-image: radial-gradient(#c44900 20%, transparent 20%),
    radial-gradient(#edae49 20%, transparent 20%);
  background-color: #d1b490;
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

#titulo_pagina {
  text-align: center;
  font-family: "Lobster", cursive;
}

/*Formato del titulo de la seccion*/
.nombreSeccion {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: white;
  text-align: center;
}

/*Barra de navegación*/

#navegacion {
  font-size: 1.2rem;
  display: flex;
  margin: auto;
  margin-top: 2rem;
}

#navegacion a {
  height: 3rem;
  display: block;
  font-family: "Zen Kaku Gothic Antique", Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

#navegacion ul {
  margin: auto;
  list-style: none;
  z-index: 100;
}

.secciones > li > a {
  border-top: 1px solid black;
}

.secciones > li {
  padding: 0.2rem;
  text-align: center;
  display: block;
  width: 11rem;
  float: left;
}

.secciones li ul {
  display: none;
  width: 12rem;
  background-color: white;
  position: absolute;
  text-align: left;
}

.secciones li ul li {
  padding-left: 1rem;
}

.secciones li ul li ul {
  top: 15rem;
  left: 12rem;
}

.secciones li:hover > ul {
  display: block;
}

.secciones li ul li:hover {
  background-color: rgb(202, 202, 202);
}
/*FIN BARRA DE NAVEGACION*/

/*Formato grid articulos*/
.articulos {
  margin: auto;
  margin-bottom: 30px;
  display: grid;
  width: 80vw;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 30px;
}
/*Formato de cada artículo*/
.Prod {
  background-color: white;
  display: inline;
  box-shadow: 7px 7px #240b36;
}

.fotoProd {
  display: block;
  margin: 5% auto;
  max-width: 80%;
  height: 20vw;
}

.descripcionProd {
  font-size: 0.8rem;
  margin-left: 10%;
}

.precioProd::before {
  content: "$ ";
}

.descripcionProd > .resumenProd {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 70%;
  height: 3rem;
}

.descripcionProd > .precioProd {
  font-size: 1.2rem;
  font-weight: 500;
}

.Prod > .fa-shopping-bag {
  display: block;
  font-size: 1.5rem;
  width: 2rem;
  margin: auto;
  margin-bottom: 1rem;
}

.Prod > .fa-shopping-bag:hover {
  color: red;
  cursor: pointer;
}

/*Secciones pie de página*/
.seccion-pie {
  display: flex;
  justify-content: space-between;
}

.subseccion-pie {
  width: 30vw;
}

.subseccion-pie a {
  color: white;
}
.enc-pie {
  height: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 3rem;
  text-align: left;
  margin-bottom: 2rem;
}

.subseccion-pie p {
  font-weight: 300;
  text-align: justify;
}

/*Subseccion titulo*/
#enc-pie-titulo {
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  font-family: "Lobster", cursive;
  margin-bottom: 2rem;
}

.datos {
  font-size: 1.2rem;
}

.datos i {
  margin-top: 1rem;
}

/*Subseccion ubicaciones*/

.lista-ub {
  margin: 1rem;
}

.lista-ub li {
  margin-top: 0.5rem;
}

/*Subseccion enviar mensaje*/
#area-mensaje {
  width: 80%;
  resize: none;
  background-color: #e2ddd6;
  border-style: none;
  border-radius: 2%;
  padding: 1rem;
}

#enviar-mensaje {
  margin-top: 1rem;
  padding: 0.5rem;
  display: block;
  color: white;
  font-size: 1rem;
  background: none;

  border-style: solid;
  border-width: 0.2rem;
  border-color: lightblue;
  border-radius: 3%;
}

#enviar-mensaje:hover {
  cursor: pointer;
}
/*FIN PIE DE PÁGINA*/
