@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap");

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
}

body {
  background-image: radial-gradient(#c44900 20%, transparent 20%),
    radial-gradient(#edae49 20%, transparent 20%);
  background-color: #d1b490;
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

/*Formato de marca de la pagina*/
#titulo_pagina {
  text-align: center;
  font-family: "Lobster", cursive;
}

/*Formato del titulo de la seccion*/
.nombreSeccion {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 400;
  color: white;
  text-align: center;
}

/*Barra de navegación*/

#navegacion {
  font-size: 1.2rem;
  display: flex;
  margin: auto;
  margin-top: 2rem;
}

#navegacion a {
  height: 3rem;
  display: block;
  font-family: "Zen Kaku Gothic Antique", Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

#navegacion ul {
  margin: auto;
  list-style: none;
  z-index: 100;
}

.secciones > li > a {
  border-top: 1px solid black;
}

.secciones > li {
  padding: 0.2rem;
  text-align: center;
  display: block;
  width: 11rem;
  float: left;
}

.secciones li ul {
  display: none;
  width: 12rem;
  background-color: white;
  position: absolute;
  text-align: left;
}

.secciones li ul li {
  padding-left: 1rem;
}

.secciones li ul li ul {
  top: 15rem;
  left: 12rem;
}

.secciones li:hover > ul {
  display: block;
}

.secciones li ul li:hover {
  background-color: rgb(202, 202, 202);
}
/*FIN BARRA DE NAVEGACION*/

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #31384a;
  color: #fff;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}

h3 {
  background: black;
  color: white;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
