@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap");

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
}

body {
  background-image: radial-gradient(#c44900 20%, transparent 20%),
    radial-gradient(#edae49 20%, transparent 20%);
  background-color: #d1b490;
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

/*Formato de marca de la pagina*/
.marca {
  text-align: center;
  font-family: "Lobster", cursive;
}

/*Formato del titulo de la seccion*/
.nombreSeccion {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: white;
  text-align: center;
}

/*Formato navbar*/
#lista ul {
  list-style: none;
  padding: 0;
}

#lista a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.secciones > li {
  float: left;
}

.secciones li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.secciones li:hover > ul {
  display: block;
}

.secciones li ul li {
  position: relative;
  background-color: white;
}

.secciones li ul li ul {
  right: -140px;
  top: 0px;
}

#lista {
  background-color: white;
  width: 1000px;
  height: 52px;
}

#lista .barra {
  color: lightblue;
  padding: 15px 0 0 0;
}

#lista a:hover {
  color: rgb(226, 173, 0);
  background: white;
  animation: 1s ms 1;
}

@keyframes ms {
  0% {
    opacity: 1;
    transform: scale(1.6);
  }
}

/*Formato grid articulos*/
.articulos {
  margin: auto;
  margin-bottom: 30px;
  display: grid;
  width: 80vw;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 30px;
}
/*Formato de cada artículo*/
.Prod {
  background-color: white;
  display: inline;
  box-shadow: 7px 7px #240b36;
}

.fotoProd {
  display: block;
  margin: 5% auto;
  max-width: 80%;
  height: 20vw;
}

.descripcionProd {
  font-size: 0.8rem;
  margin-left: 10%;
}

.precioProd::before {
  content: "$ ";
}

.descripcionProd > .resumenProd {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 70%;
  height: 3rem;
}

.descripcionProd > .precioProd {
  font-size: 1.2rem;
  font-weight: 500;
}

.Prod > .fa-shopping-bag {
  display: block;
  font-size: 1.5rem;
  width: 2rem;
  margin: auto;
  margin-bottom: 1rem;
}
.Prod > .fa-shopping-bag:hover {
  color: red;
  cursor: pointer;
}
/*Pie de pagina*/
footer {
  margin: 0;
  background: #151515;
  color: white;
  padding: 30px 20px;
}
