@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap");

*{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header{
  background-color: white;
}

body{
  background-image: radial-gradient(#c44900 20%, transparent 20%),
    radial-gradient(#edae49 20%, transparent 20%);
  background-color: #d1b490;
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

/*Formato de marca de la pagina*/
.nombre{
  text-align: center;
  font-family: "Lobster", cursive;
}

/*Formato navbar*/
#lista ul{
  list-style: none;
  padding: 0;
  transform: translateX(68%) translateY(-2.3%);
}

#lista a{
  color: black;
  text-decoration: none;
  display: block;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.secciones > li{
  float: left;
}

.secciones li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

.secciones li:hover > ul{
  display: block;
}

.secciones li ul li{
  position: relative;
  background-color: white;
  transform: translateX(-58%);
}

.secciones li ul li ul{
  right: -128px;
  top: 0px;
}

#lista{
  background-color: white;
  width: 1000px;
  height: 60px;
}

.articulos {
  margin: auto;
  margin-bottom: 30px;
  display: grid;
  width: 80vw;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 30px;
}

/*Formato de cada artículo*/
.Prod {
  background-color: white;
  display: inline;
  box-shadow: 7px 7px #240b36;
}

.fotoProd {
  display: block;
  margin: 5% auto;
  max-width: 80%;
  height: 20vw;
}

.descripcionProd {
  font-size: 0.8rem;
  margin-left: 10%;
}

.precioProd::before {
  content: "$ ";
}

.descripcionProd > .resumenProd {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 70%;
  height: 3rem;
}

.descripcionProd > .precioProd {
  font-size: 1.2rem;
  font-weight: 500;
}

.Prod > .fa-shopping-bag {
  display: block;
  font-size: 1.5rem;
  width: 2rem;
  margin: auto;
  margin-bottom: 1rem;
}

.Prod > .fa-shopping-bag:hover {
  color: red;
  cursor: pointer;
}

.articulos {
  margin: auto;
  margin-bottom: 30px;
  display: grid;
  width: 80vw;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 30px;
}
  
/*Formato de cada artículo*/
.Prod {
    background-color: white;
    display: inline;
    box-shadow: 7px 7px #240b36;
}
  
.fotoProd {
    display: block;
    margin: 5% auto;
    max-width: 80%;
    height: 20vw;
}
  
.descripcionProd {
    font-size: 0.8rem;
    margin-left: 10%;
}
  
.precioProd::before {
    content: "$ ";
}

.descripcionProd > .resumenProd {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 70%;
    height: 3rem;
}
  
.descripcionProd > .precioProd {
    font-size: 1.2rem;
    font-weight: 500;

}
.Prod > .fa-shopping-bag {
    display: block;
    font-size: 1.5rem;
    width: 2rem;
    margin: 10px;;
    margin-bottom: 1rem;
}

.Prod > .fa-shopping-bag:hover {
    color: red;
    cursor: pointer;
}

.main-footer{
    background: #151515;
    color: white;
    padding: 30px 20px;
}

.footer__txt{
    color: #555;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
h5{
  background-color: white;
  text-align: center;
  color: #c44900;
  font-size: 2.5rem;
}
h3{
  background-color: white;
  text-align: start;
  color: red;
  font-size: 2rem;
}